<div class="container d-flex p-3 mx-auto flex-column">
  <div class="d-flex flex-column px-3">
    <h1>Whoops!</h1>
    <p class="lead">Error 404</p>
    <div class="mb-5">
      <button
      class="btn btn-lg btn-secondary fw-bold shadow mt-xl-5"
      (click)="onErrorBack()"
      >
      go back
    </button>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <img width="300vw" src="../../assets/404.gif" alt="BARS">
    <p class="lead">Sad Lieutenant is lost now.</p>
    </div>
  </div>
</div>
