<div class="container d-flex p-3 mx-auto flex-column">
  <div class="d-flex flex-column px-3">
    <h1>Whoops!</h1>
    <p class="lead">I got 404 problems but a glitch aint one</p>
    <div class="mb-5">
      <button
        class="btn btn-lg btn-secondary fw-bold shadow mt-xl-5"
        (click)="onErrorBack()"
      >
        go back
      </button>
    </div>
    <div class="d-flex justify-content-center">
      <img width="300vw" src="https://64.media.tumblr.com/dcd723072232fa7d209f6cef66550049/tumblr_mt4ldhmW431sbz7amo1_400.gif" alt="BARS">
    </div>
  </div>
</div>
